* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    width: 100%;
    height: 70px;
    background-color: #ec715f;
}

.header-box {
    width: 1024px;
    margin: 0 auto;
}

header a {
    text-decoration: none;
}

.logo {
    height: 70px;
    float: left;
}

.nav-list {
    float: right;
}

.nav-list-item {
    float: left;
    padding: 0 30px;
    line-height: 70px;
    color: #fafafa;
    list-style: none;
    font-size: 16px;
}

.nav-list-item a {
    color: #fafafa;
}

#mv {
    width: 100%;
    height: 650px;
    text-align: center;
    color: #fafafa;
    background-image: url(img/mv.png);
    background-size: cover;
    background-position: center;
}

.mv-box {
    width: 1024px;
    margin: 0 auto;
}

.mv-headline {
    padding-top: 200px;
    font-size: 64px;
}

.mv-text {
    font-size: 20px;
    padding-top: 10px;
}

#portfolio {
    background-color: #eceff1;
    color: #000000;
}

.portfolio-box {
    width: 920px;
    padding: 90px 0;
    margin: 0 auto;
}

.headline {
    font-size: 32px;
    text-align: center;
}

.headline::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0;
    background-color: #EC715F;
}

.headtext {
    padding: 30px 0;
    font-size: 16px;
    text-align: center;
}

.portfolio-imgs {
    width: 920px;
    margin: 0 auto;
}

.portfolio-img {
    width: 300px;
    height: 250px;
    margin: 10px 10px 0 0;
    background-size: cover;
    background-position: center;
    float: left;
}

.portfolio-img:nth-child(-n+3) {
    margin-top: 0;
}

.portfolio-img:nth-child(3n) {
    margin-right: 0;
}

#img1 {
    background-image: url(img/sketch.jpg);
}

#img2 {
    background-image: url(img/websuku.png);
}

#img3 {
    background-image: url(img/write.jpg);
}

#img4 {
    background-image: url(img/webcamp.png);
}

#img5 {
    background-image: url(img/talk.jpg);
}

#img6 {
    background-image: url(img/webcamp-mother.png);
}

#feature {
    width: 100%;
    padding: 90px 0;
    color: #000000;
}

.feature-box {
    width: 980px;
    margin: 0 auto;
}

.strength {
    width: 320px;
    margin-right: 10px;
    font-size: 60px;
    float: left;
    text-align: center;
}

.strength-headline {
    padding: 10px 0;
    font-size: 20px;
}

.strength-text {
    font-size: 16px;
    text-align: left;
}

.strength:last-child {
    margin-right: 0;
}

#profile {
    width: 100%;
    background-color: #eceff1;
    padding: 90px 0;
    color: #000000;
}

.profile-box {
    width: 1024px;
    margin: 0 auto;
}

.left-box {
    width: 50%;
    float: left;
}

.right-box {
    width: 50%;
    float: right;
}

.profile-img {
    background-image: url(img/my-icon.jpg);
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50%;
}

.profile-headline {
    font-size: 20px;
    margin: 20px 0 5px;
}

.profile-headline:first-child {
    margin-top: 0;
}

.profile-text {
    font-size: 16px;
}

#contact {
    width: 100%;
    padding: 90px 0;
    color: #000000;
}

.contact-box {
    width: 800px;
    margin: 0 auto;
}

.contact-headline {
    margin: 20px 0 5px;
    font-size: 20px;
}

.contact-headline:first-child {
    margin-top: 0;
}

.contact-left-box {
    width: 130px;
    margin: 0 auto;
}

.contact-right-box {
    width: 200px;
    margin: 0 auto;
}

.sns-icon {
    font-size: 50px;
    margin-right: 20px;
}

.sns-icon:last-child {
    margin-right: 0;
}

footer {
    background-color: #ec715f;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.copyright {
    font-size: 16px;
    color: #fafafa;
    text-align: center;
}

@media screen and (max-width:767px) {
    header {
        height: 50px;
    }

    .header-box {
        width: 90%;
        padding: 0 5%;
    }

    .logo {
        height: 50px;
    }

    nav {
        display: none;
    }

    .hamburger-menu {
        width: 40px;
        height: 40px;
        float: right;
        border: 1px solid #fafafa;
        margin: 5px auto;
    }

    .menu-line {
        display: block;
        width: 25px;
        height: 2px;
        background-color: #fafafa;
        margin: 5px auto;
    }

    .menu-line:first-child {
        margin-top: 10px;
    }

    #mv {
        background-image: url(img/code.png);
        background-size: cover;
        background-position: center;
    }

    .mv-box {
        width: 90%;
        padding: 0 5%;
    }

    .mv-headline {
        font-size: 40px;
    }

    .mv-text {
        font-size: 18px;
    }

    .portfolio-box {
        width: 90%;
        padding: 90px 5%;
    }

    .portfolio-imgs {
        width: 300px;
    }

    .portfolio-img {
        float: none;
    }

    #img1,#img3,#img5 {
        display: none;
    }
}